############################################
# LaTeX build & auxiliary files (IGNORE)
############################################

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.synctex
*.synctex.gz
*.pdfsync
*.fdb_latexmk
*.run.xml
*.bcf
*.blg
*.bbl
*.nlo
*.nlg
*.nls
*.ilg
*.ind
*.idx
*.acn
*.acr
*.glg
*.glo
*.gls
*.xdy
*.xcp
*.brf
*.nav
*.snm
*.vrb
*.thm
*.loa
*.alg
*.lol
*.mw
*.upa
*.upb
*.wrt
*.tdo
*.hst
*.ver
*.xmpi
*.xwm
*.xyc
*.xyd
*.ttt
*.fff

############################################
# Latexmk / build directories
############################################

latex.out/
auto/
_minted*
pythontex-files-*/

############################################
# Temporary / editor files
############################################

*~
*.bak
*.bak[0-9]*
*.sav
*.swp
.texpadtmp
*.backup
*.lyx~
*.spell.bad
*.spell.txt

############################################
# Generated plots / helper junk
############################################

sympy-plots-for-*.tex/
svg-inkscape/
*-gnuplottex-*

############################################
# Explicitly KEEP important files
############################################

# LaTeX sources
!*.tex
!*.bib

# Scripts & data
!*.py
!*.csv
!*.json

# Assets / figures (including PDFs!)
!*.png
!*.jpg
!*.jpeg
!*.svg
!*.pdf
